@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .msg-username {
    @apply text-brilliantazure;
  }

  .msg-time {
    @apply text-slate-500 text-xs min-w-fit box-border;
  }

  .msg-text {
    @apply text-white;
  }

  .msg-li {
    @apply bg-richblack2 rounded-xl p-2 w-fit box-border;
  }
}
